{% load static %}
<html>
<head>
    <title>HRProfile Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
</head>
<body>
<header>
    <img height="50px" src="/static/images/heading.png">
    <h1 class="main">Employee Attendance System</h1>

</header>

<div class="topnav">
    <a class="active" href="/att_sys">Home</a>
    <a class="active" href="/att_sys/logout">Logout</a>
</div>
<hr>
<br><br><br>
<h2>Welcome {{emp}} : {{emp.designation}}</h2>
{% if messages %}
    {% for message in messages %}
        <small {% if message.tags %} class="{{message.tags}}" {%endif%}>{{message}}</small>
    {%endfor%}
{%endif%}
<h1>Employee list</h1>

<table class= "styled-table" border="1">
    <tr>
        <th>ID</th>
        <th>Employee name</th>
        <th>Check</th>
        <th>Delete</th>
    </tr>
    {% for x in user %}
    <tr>
        <td>{{x.id }}</td>
        <td>{{x.ename}}</td>
        <td><a class="det" href="userprofile/{{x.id}}">Details</a></td>
        <td><a class='del' href="delete/{{x.id}}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>