{% load static %}
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
</head>
<body>
<header>
    <img height="50px" src="/static/images/heading.png">
    <h1 class="main">Employee Attendance System</h1>

</header>

<div class="topnav">
    <a class="active" href="/att_sys">Home</a>
    <a class="active" href="/att_sys/login">Login</a>
</div>
<hr>
<br><br><br>
<div class="container">
    <form method="POST" novalidate>
            <!-- Very Important csrf Token -->
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}

        {% for fm in form %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %}
      <button class="login" type="submit"> Login </button>
    </form>
</div>
<br><br><br><br><br><br><br>
</body>
</html>