{% load static %}
<html>
<head>
    <title>Update Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
</head>
<body>
<header>
    <img height="50px" src="/static/images/heading.png">
    <h1 class="main">Employee Attendance System</h1>

</header>

<div class="topnav">
    <a class="active" href="/att_sys">Home</a>
    <a class="active" href="/att_sys/logout">Logout</a>
</div>
<hr>
<br><br><br>
<h1>Update</h1>
{% if messages %}
    {% for message in messages %}
        <small {% if message.tags %} class="{{message.tags}}" {%endif%}>{{message}}</small>
    {%endfor%}
{%endif%}

<form method="POST" novalidate>
            <!-- Very Important csrf Token -->
            {% csrf_token %}
            {{ form.as_p }}
        <button class="button" type="submit">Submit</button>
</form>
<a class="det" href="http://127.0.0.1:8000/att_sys/hrprofile/userprofile/{{id_user}}/">Cancle</a>
</body>
</html>