{% load static %}
<html>
<head>
    <title>UserProfile Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
</head>
<body>
<header>
    <img height="50px" src="/static/images/heading.png">
    <h1 class="main">Employee Attendance System</h1>

</header>

<div class="topnav">
    <a class="active" href="/att_sys">Home</a>
    <a class="active" href="/att_sys/logout">Logout</a>
</div>
<hr>
<br><br><br>
<h2>Welcome {{emp}} : {{emp.designation}} : ( Total Working Hours = {{twh}} )</h2>
{% if messages %}
    {% for message in messages %}
        <small {% if message.tags %} class="{{message.tags}}" {%endif%}>{{message}}</small>
    {%endfor%}
{%endif%}
<table class="styled-table" border="1">
    <tr>
        <th>Employee</th>
        <th>Date</th>
        <th>Check-in</th>
        <th>Check-out</th>
        <th>Working-Hours</th>
    </tr>
    {% for x in user %}
    <tr>
        <td>{{x.employee.ename}}</td>
        <td>{{x.date}}</td>
        <td>{{x.chin}}</td>
        <td>{{x.chout}}</td>
        <td>{{ dwh|get_item:x.id }}</td>
    </tr>
    {% endfor %}
</table>
<a class="det" href="/att_sys/userpersonal/add/">Add</a>

</body>
</html>